body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Norwester'
    sans-serif;
    font-weight: normal;
    font-size: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.background_image{
  width: 100%;  
  background: linear-gradient(to top, rgba(0,0,0,0.5)100%, rgba(0,0,0,0.5)100%), url(/public/images/aboutpic1.png);
  background-position: center; 
  background-size: cover; 
  height: 60vh; 
} 
.firstbg_image{ 
  width: 100%;  
  background: linear-gradient(to top, rgba(16, 16, 62, 0.5)100%, rgba(0,0,0,0.5)100%), url(/public/images/image.jpg);
  background-position: center; 
  background-size: cover; 
  height: 109vh; 
}

.background2_image{
  width: 100%;  
  background: linear-gradient(to top, rgba(0,0,0,0.5)100%, rgba(0,0,0,0.5)100%), url(/public/images/outside.jpg);
  background-position: center; 
  background-size: cover; 
  height: 75vh; 
} 

.testbg_color { 
  width: 100%; 
  background-color: #38bdf8; 
  height: 100% 
}
 
code {
  font-family: source-code-pro, Menlo, 'Monaco', Consolas, 'Courier New''Norwester',
    monospace, ;

  }
  *{ 

    box-sizing: border-box; 
}

body { 
    margin: 0;
    padding: 0; 
}
  .navbar { 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: rgb(54, 60, 77); 
    color: white;
  }
  .brand-title { 
    font-size: 1.5rem;
    margin: 0.5rem;
  }

  .navbar-links ul { 
    margin: 0; 
    padding: 0; 
   display: flex; 
  } 
  
  .navbar-links li { 
    list-style: none; 
  }
  .navbar-links li a { 
    text-decoration: none; 
    color: white; 
    padding: 1rem; 
    display: block;
  }
.navbar-links li:hover { 
  background-color: #555; 
}


.form h2 { 
  width: 220px; 
  font-family: sans-serif; 
  text-align: center;  
  color: #000000; 
  font-size: 30px; 
 


}


  





